*{
  background-color: rgb(255, 255, 255);
}
h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: black;
  font-weight: 600;
}
ul.l-1{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  box-sizing: border-box;
  
}