*{
  background-color: rgb(212, 194, 132);
}
h1{
  background-color: rgb(25, 23, 49);
  text-align: center;
  color: white;
}
.l_1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgb(202, 160, 108);
}
.l_1 .aa{
  background-color: aliceblue;

}